

h1 {
    font-size: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 150px;
    color: green;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}