.Tabulka_1_res {
  padding: 40px;
  border-radius: 20px;
  background: #d9d9d9;
  width: 60vw;
  height: 650px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;

  border-radius: 50px;
  background: #e0e0e0;

  align-items: flex-start;
  > a {
    margin-bottom: 50px;
  }
}

.btn-1_res {
  background: #5f6f52;
  background: linear-gradient(0deg, #5f6f52 0%, rgba#4a5740 100%);
  border: none;
}
.btn-1_res:hover {
  background: #5f6f52;
  background: linear-gradient(0deg, #4b5543 0%, #49573c 100%);
}

.inputDuo_res {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginbutton_res {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  color: #e6e6e6;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
  background-color: #5f6f52;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .Tabulka_1_res {
    padding: 40px;
    border-radius: 20px;
    background: #d9d9d9;
    width: 350px;
    height: 570px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;

    border-radius: 50px;
    background: #e0e0e0;

    align-items: flex-start;
    > a {
      margin-bottom: 30px;
    }
  }
  .btn-1_res {
    background: #5f6f52;
    background: linear-gradient(0deg, #5f6f52 0%, rgba#4a5740 100%);
    border: none;
  }
  .btn-1_res:hover {
    background: #5f6f52;
    background: linear-gradient(0deg, #4b5543 0%, #49573c 100%);
  }

  .inputDuo_res {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .loginbutton_res {
    margin-bottom: 15px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: #e6e6e6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    background-color: #5f6f52;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .Tabulka_1_res {
    padding: 5%;
    border-radius: 20px;
    background: #d9d9d9;
    width: 250px;
    height: 480px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;

    border-radius: 50px;
    background: #e0e0e0;

    align-items: flex-start;
    > a {
      margin-bottom: 30px;
    }
  }

  .btn-1_res {
    background: #5f6f52;
    background: linear-gradient(0deg, #5f6f52 0%, rgba#4a5740 100%);
    border: none;
  }
  .btn-1_res:hover {
    background: #5f6f52;
    background: linear-gradient(0deg, #4b5543 0%, #49573c 100%);
  }

  .inputDuo_res {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .loginbutton_res {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    color: #e6e6e6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #5f6f52;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
