<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Potvrzeni Uctu</title>
</head>
<body>

<h1>Ahoj {{name}}! </h1>
<p>Tvuj kod je : {{verification}} </p>
<p>Klikni sem a zadej ho {{URL}}. </p>

 

</body>
</html>