<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>

<h1>Ahoj {{name}}! </h1>
<p>Klikni sem aby jsi se overil </p>
<a href="{{URL}}">Overit</a>

 

</body>
</html>