.divcart {
	display: flex;
	flex-direction: column;
}
.cartitems {
	background-color: #dddada;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 1%;

	.cartimg {
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		align-self: center;
	}

	.cartname {
		align-self: center;
	}

	.cartquantity {
		align-self: center;
		justify-content: center;
		input {
			width: 40px;
			margin: auto;
			display: block;
			align-self: center;
		}
	}

	.cartdelete {
		align-self: center;
		margin-left: 5%;
	}

	.cartprice {
		text-align: right;
		padding-right: 1%;
		align-self: center;
	}
}

.totalprice {
	width: 100%;
	margin-top: 1%;
	text-align: right;
}

.nextbtn {
	background-color: #5f6f52;
	display: flex;
	justify-content: center;

	width: 100px;
	height: 50px;
	margin-left: auto;
}
img {
	border-radius: 20px;
	width: 200px;
	height: auto;
	object-fit: contain;
	-webkit-object-fit: contain;
	-moz-object-fit: contain;
	-o-object-fit: contain;
}

@media only screen and (min-width: 1201px) {
	.cartitems {
		background-color: #dddada;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 1%;
		width: 98%;
		align-self: center;
		border-radius: 20px;

		.cartimg {
			width: 20%;
			padding-left: 1%;
			padding-top: 1%;
			padding-bottom: 1%;
			align-self: center;
		}

		.cartname {
			width: 25%;
			align-self: center;
		}

		.cartquantity {
			width: 10%;
			align-self: center;
			justify-content: center;
			input {
				width: 40px;
				margin: auto;
				display: block;
				align-self: center;
			}
		}

		.cartdelete {
			width: 10%;
			align-self: center;
			margin-left: 5%;
		}

		.cartprice {
			width: 30%;
			text-align: right;
			padding-right: 1%;
			align-self: center;
		}
	}

	img {
		border-radius: 20px;
		width: 200px;
		height: auto;
		object-fit: contain;
		-webkit-object-fit: contain;
		-moz-object-fit: contain;
		-o-object-fit: contain;
	}


	.nextbtn {
		background-color: #5f6f52;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;
		text-align: center;
		height: 60px;
		width: 20%;
		margin-left: auto;
		margin-right: 1%;
		margin-bottom: 2%;
		border-radius: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22px;
		font-weight: bold;
		color: white;
		p {
			margin-bottom: 0;
		}
	}

	.totalprice {
		width: 98%;
		margin-top: 2%;
		text-align: right;
		p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			font-weight: bold;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.cartitems {
		background-color: #dddada;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 1%;
		width: 98%;
		align-self: center;
		border-radius: 20px;

		.cartimg {
			width: 20%;
			padding-left: 1%;
			padding-top: 1%;
			padding-bottom: 1%;
			align-self: center;
		}

		.cartname {
			align-self: center;
			width: 25%;
			margin-left: 5%;
		}

		.cartquantity {
			width: 10%;
			align-self: center;
			justify-content: center;
			input {
				width: 40px;
				margin: auto;
				display: block;
				align-self: center;
			}
		}
	}

	.cartdelete {
		width: 10%;
		align-self: center;
		margin-left: 5%;
	}

	.cartprice {
		width: 25%;
		text-align: right;
		padding-right: 1%;
		align-self: center;
	}

	.nextbtn {
		background-color: #5f6f52;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;
		text-align: center;
		height: 60px;
		width: 20%;
		margin-left: auto;
		margin-right: 1%;
		margin-bottom: 2%;
		border-radius: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22px;
		font-weight: bold;
		color: white;
		p {
			margin-bottom: 0;
		}
	}

	.totalprice {
		width: 98%;
		margin-top: 2%;
		text-align: right;
		p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			font-weight: bold;
		}
	}



}

@media only screen and (max-width: 950px) {
	.cartitems {
		background-color: #dddada;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 1%;
		width: 98%;
		align-self: center;
		border-radius: 20px;

		.cartimg {
			width: 20%;
		}

		.cartname {
			width: 25%;
			margin-left: 15%;
		}

		.cartquantity {
			width: 5%;
		}

		.cartdelete {
			width: 5%;
			margin-left: 5%;
		}

		.cartprice {
			width: 25%;
		}

	}

	.nextbtn {
		background-color: #5f6f52;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;
		text-align: center;
		height: 60px;
		width: 20%;
		margin-left: auto;
		margin-right: 1%;
		margin-bottom: 2%;
		border-radius: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22px;
		font-weight: bold;
		color: white;
		p {
			margin-bottom: 0;
		}
	}

	.totalprice {
		width: 98%;
		margin-top: 2%;
		text-align: right;
		p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			font-weight: bold;
		}
	}
}

@media only screen and (max-width: 650px) {
	.cartitems {
		background-color: #dddada;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 95%;
		align-self: center;
		border-radius: 20px;
		margin-top: 2%;

		.cartimg {
			width: fit-content;
			padding-left: 0%;
			padding-top: 1%;
			padding-bottom: 2%;
			align-self: center;
			margin-left: auto;
			margin-right: auto;
		}

		.cartname {
			width: fit-content;
			margin-left: 0;
			align-self: center;
		}

		.cartquantity {
			width: fit-content;
			align-self: center;
			justify-content: center;
			input {
				width: 40px;
				margin: auto;
				display: block;
				align-self: center;
			}
		}

		.cartdelete {
			width: fit-content;
			align-self: center;
			margin-left: 0;
		}

		.cartprice {
			width: fit-content;
			text-align: center;
			align-self: center;
			padding-right: 0;
		}
	}
	.totalprice {
		width: 100%;
		margin-top: 2%;
		text-align: center;
	}

	.nextbtn {
		background-color: #5f6f52;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;
		text-align: center;
		height: 60px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
		border-radius: 20px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22px;
		font-weight: bold;
		color: white;
		p {
			margin-bottom: 0;
		}
	}

	.totalprice {
		width: 100%;
		margin-top: 2%;
		text-align: right;
		p {
			text-align: center;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
