.textnav{

    margin-left: 1em;
}

.productNameText{
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.productDescText{
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.productPriceText{
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.productCatText{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.productAmountText{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.productRatingText{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.productStatText{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.addToCartText {
		text-align: center;
		font-size: 18px;
		font-family: Arial;
		font-weight: bold;
		padding: 1.5vw 0 1.5vw 0;
	}