


.img-logo{
  height: 100px;
  width: auto;
}

@media screen and (min-width: 992px) {
  .nav-item-hidden{
    display: none;
  }
  


}

.btn-outline-success
{
  border-color: #ced4da;
  color: black;
}

.btn-outline-success:hover
{
  border-color: #a9b388;
  color: white;
  background-color: #a9b388;
}

.form-control
{
  border-color: #ced4da;
}

.nav-link:hover
{
  font-weight: bold;
}


.form-inline {
  display: flex;
  flex-direction: row;
}


.uil-user-circle {
  font-size: 40px;
  padding-right: 1vw;
}

.uil-user-circle:hover {
  font-size: 45px;
  padding-right: 1vw;
}

.uil-shopping-bag
{
  font-size: 40px;
}

.uil-shopping-bag:hover
{
  font-size: 45px;
}

.d-flex{
  padding-right: 30px;
}

.nav-item{
  padding-left: 2vw;
}