


.img-logo{
  height: 100px;
  width: auto;
}

@media screen and (min-width: 992px) {
  .nav-item-hidden{
    display: none;
  }
  


}


.form-inline {
  display: flex;
  flex-direction: row;
}


.uil-user-circle {
  font-size: 40px;
  padding-right: 1vw;
}

.uil-shopping-bag
{
  font-size: 40px;
}

.d-flex{
  padding-right: 30px;
}

.nav-item{
  padding-left: 2vw;
}