.kategorie
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1%;
    background-color: #A9B388;
    align-items: left;
    width: 20%;
    border-radius: 20px;
    

    .nadpis
{
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 5%;
    font-family: Inter;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

}



.text1_kat
{
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
    font-family: Inter;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}