.divhome
{
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.divcat
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.divproductpage
{
    border:  1px solid red;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.divproduct
{
    
    background: #B99470;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 100%;
}