.Nadpis_Stranky1_reg {
  margin-top: 2%;
  position: relative;
  color: #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nnadpis_Stranky2_reg {
  color: #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
  text-decoration: none;
}

.nnadpis_Stranky2_reg {
  position: inherit;
  margin-top: -100px;
  margin-bottom: 20px;
}

.Nadpis_Stranky3_reg {
  color: #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.Nadpis_Stranky4_reg {
  color: #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  
}
.check{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

@media only screen and (max-width: 1700px) {
  .Nadpis_Stranky1_reg {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .Nadpis_Stranky2_reg {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
  }
  
  .Nadpis_Stranky2_reg {
    position: inherit;
    margin-top: -100px;
  }
  
  .Nadpis_Stranky3_reg {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (max-width: 900px) {
  .Nadpis_Stranky1_reg {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .Nadpis_Stranky2_reg {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
  }
  
  .nnadpis_Stranky2_reg {
    position: inherit;
    margin-top: -400px !important ;
  }
  
  .Nadpis_Stranky3_reg {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}